//
// Override milligram styles

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-flex;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
	height: auto;
	line-height: 1.5;
	margin: 0.25rem;
	padding: 0.5rem;
	border-radius: 3px;
	white-space: normal;
	word-break: break-word;
	hyphens: manual;

	@media (min-width: $size-xs) {
		flex-direction: row;
		width: auto;
	}

	@media (min-width: $size-sm) {
		word-break: inherit;
	}

	svg {
		flex: 0 0 fit-content;
		line-height: 1;
	}
}

fieldset, input, select, textarea {
	margin-bottom: 0.5rem;
}
